// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$showcase-app-primary: mat.define-palette(mat.$indigo-palette);
$showcase-app-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$showcase-app-warn: mat.define-palette(mat.$cyan-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$showcase-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $showcase-app-primary,
      accent: $showcase-app-accent,
      warn: $showcase-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($showcase-app-theme);

@tailwind base;
@tailwind components;
@tailwind utilities;

// Swiper
@import '~swiper/css';
@import '~swiper/css/pagination';
@import '~swiper/css/navigation';

html,
.mat-list-option,
.mat-button-wrapper,
.mat-bottom-sheet-container,
.mat-card,
.mat-menu-item {
  font-family: 'Fira code', monospace, 'Helvetica Neue', sans-serif;
}

// Style Angular material components
.mat-bottom-sheet-container,
.mat-list-option,
.mat-menu-content,
.mat-menu-item {
  @apply bg-light dark:bg-dark text-dark dark:text-light transition-colors duration-500;
}

.mat-form-field-appearance-standard .mat-form-field-underline {
  @apply bg-dark dark:bg-light transition-colors duration-500;
}

.mat-form-field-label {
  @apply text-dark dark:text-light transition-colors duration-500;
}

.mat-slider-track-wrapper {
  @apply bg-light transition-colors duration-500;
}

.mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
  @apply border border-light transition-colors duration-500;
}

.error-snackbar {
  .mat-button-wrapper {
    @apply text-light;
  }
}

// Style scrollbar
::-webkit-scrollbar {
  width: 6px;
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent;
  -webkit-border-radius: 2rem;
}
::-webkit-scrollbar-corner {
  border-radius: 50%;
}

// e-commerce
.mat-dialog-container {
  @apply bg-e-com-front-primary;
}

.e-commerce-snackbar {
  @apply bg-e-com-secondary-variant;
}

.mat-drawer {
  ::-webkit-scrollbar-thumb {
    @apply bg-e-com-front-secondary-variant;
    -webkit-border-radius: 2rem;
  }
  ::-webkit-scrollbar-corner {
    border-radius: 50%;
  }
}

.mat-drawer-container {
  @apply bg-gray-200 text-dark;
}

.mat-drawer-over {
  @apply bg-gray-200 text-dark;
}

.mat-drawer-side {
  @apply lg:mt-10 bg-gray-200 text-dark;
}

// Bucket client
@layer components {
  .auth-input {
    @apply text-dark rounded-sm py-1 lg:text-lg lg:h-10 px-2 bg-light focus:outline-e-com-accent;
  }

  .view-menu {
    @apply hover:bg-accent;
  }
  .view-dispatch {
    @apply hover:bg-green-400;
  }
  .view-cancel {
    @apply hover:bg-red-400;
  }
}

// Bucket admin
@layer components {
  .add-text-input {
    @apply w-full rounded-sm py-1 px-2 bg-e-com-secondary-variant bg-opacity-80 focus:outline-dark transition-colors duration-300 lg:h-10 lg:hover:bg-e-com-secondary-variant lg:hover:bg-opacity-80 lg:bg-transparent;
  }

  .add-select {
    @apply text-dark rounded-sm py-1 px-2 bg-e-com-secondary-variant bg-opacity-80 focus:outline-dark lg:text-lg lg:h-10;
  }

  textarea {
    @apply w-full rounded-sm py-1 px-2 bg-e-com-secondary-variant bg-opacity-80 focus:outline-dark transition-colors duration-300 lg:hover:bg-e-com-secondary-variant lg:hover:bg-opacity-80 lg:bg-transparent;
  }

  .edit-select {
    @apply text-light rounded-sm py-1 px-2 bg-e-com-secondary-variant bg-opacity-20 focus:outline-light lg:text-lg lg:h-10;
  }

  .edit-text-input {
    @apply w-full rounded-sm py-1 px-2 bg-e-com-secondary-variant bg-opacity-20 focus:outline-light transition-colors duration-300 lg:h-10 lg:hover:bg-e-com-secondary-variant lg:hover:bg-opacity-20 lg:bg-transparent;
  }

  .edit-number-input {
    @apply w-2/5 rounded-sm py-1 px-2 text-lg bg-e-com-secondary-variant bg-opacity-20 focus:outline-light transition-colors duration-300 lg:hover:bg-e-com-secondary-variant lg:hover:bg-opacity-20 lg:h-10 lg:bg-transparent;
  }
}
